<div class="retro-background">

    <svg
        viewBox="-800 0 3200 900"
        preserveAspectRatio="xMidYMax slice"
        class="retro-bg">

        <defs>

            <pattern
                id="scanlines"
                width="4"
                height="4"
                patternUnits="userSpaceOnUse">

                <rect
                    width="4"
                    height="3"
                    fill="transparent">
                </rect>

                <rect
                    y="3"
                    width="4"
                    height="1"
                    fill="rgba(255,255,255,.25)">
                </rect>

            </pattern>

        </defs>

        <!-- lontane -->
        <g class="mountain layer1">
            <path d="
            M-800 460
            L-600 330
            L-420 420
            L-200 200
            L40 400
            L280 150
            L520 370
            L760 180
            L1000 420
            L1250 220
            L1500 400
            L1750 180
            L2000 420
            L2400 250
            L2400 700
            L-800 700
            Z"/>
        </g>

        <!-- medie -->
        <g class="mountain layer2">
            <path d="
            M-800 580
            L-620 490
            L-450 550
            L-280 400
            L-80 540
            L120 380
            L300 550
            L520 430
            L720 560
            L940 400
            L1160 550
            L1400 430
            L1620 580
            L1900 410
            L2400 550
            L2400 700
            L-800 700
            Z"/>
        </g>

        <!-- vicino -->
        <g class="mountain layer3">
            <path d="
            M-800 590
            L-600 650
            L-400 680
            L-200 630
            L0 700
            L220 650
            L450 690
            L700 640
            L950 700
            L1200 650
            L1450 690
            L1700 640
            L2000 700
            L2400 650
            L2400 800
            L-800 800
            Z"/>
        </g>

        <rect
                x="-800"
                y="0"
                width="3200"
                height="900"
                fill="url(#scanlines)"
                class="scanlines">
            </rect>

    </svg>

</div>